{% extends "personal/base.html" %}

{% block title %}Alle Einsatzorte{% endblock %}

{% block content %}
<div class='container mt-3'>
    <div class='row'>
        <div class='col-9'>
            <h2 class="mb-4">Alle Einsatzorte</h2>
        </div>
        <div class='col-3 text-end'>
            <a href="{% url 'neuer_einsatzort' %}" class="btn btn-secondary">
            <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Trägername</th>
      <th scope="col">Adresse</th>
      <th scope="col">Telefon</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Fax</th>
      <th scope="col">Diakon*in</th>
    </tr>
  </thead>
  {% for einsatzort in einsatzorte %}
  <tbody>
    <tr>
      <td>
        <a href="{% url 'edit_einsatzort' pk=einsatzort.pk %}" class="text-center"><i class="bi bi-pencil-square bearbeitung"></i></a>
      </td>
      <td>{{ forloop.counter }}</td>
      <td>{{ einsatzort.standort_id }}</td>
      <td>{{ einsatzort.traegername }}</td>
      <td>{{ einsatzort.adresse }}<br>{{ einsatzort.plz }} {{ einsatzort.ort }}</td>
      <td>{{ einsatzort.telefon | default_if_none:"" }}</td>
      <td>{{ einsatzort.email | default_if_none:"" }}</td>
      <td>{{ einsatzort.fax | default_if_none:"" }}</td>
      <td>{{ einsatzort.fax | default_if_none:"" }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}