asgiref==3.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
data-wizard==2.0.0
Django==5.2.4
djangorestframework==3.16.0
et_xmlfile==2.0.0
html-json-forms==1.1.1
idna==3.10
itertable==2.2.0
natural-keys==2.1.1
openpyxl==3.1.5
pillow==11.3.0
python-dateutil==2.9.0.post0
reportlab==4.4.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
