footer {
    background-color: rgb(78, 40, 100);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

main {
    padding: 100px
}

.bearbeitung {
    color: rgb(78, 40, 100);
}
.bearbeitung:hover {
    color: rgb(151,113,173)
}


.btn-outline-primary {
    border-color: rgb(78, 40, 100);
    color: rgb(78, 40, 100);
}
.btn-outline-primary:hover {
    background-color: rgb(78, 40, 100);
    color: white;
}

.btn-outline-secondary {
    border-color: rgb(151,113,173);
    color: rgb(151,113,173);
}
.btn-outline-secondary:hover {
    background-color: rgb(151,113,173);
    color: white;
}