{% extends "personal/base.html" %}

{% block title %}PK_UA{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2 class="mb-4">Personalkommission der Diakon*innen</h2>
    <p class="lead">Datum der nächsten PK_UA:</p>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Datum</th>
      <th scope="col">Thema</th>
      <th scope="col">Darstellung</th>
      <th scope="col">Beschluss</th>
      <th scope="col">Erfasser</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for pk in pkua_kontakt %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ pk.diakon.vorname }} {{ pk.diakon.nachname }}</td>
      <td>{{ pk.datum }}</td>
      <td>{{ pk.kontaktgrund }}</td>
      <td>{{ pk.kommentar }}</td>
      <td>{{ pk.beschluss }}</td>
      <td>{{ pk.erfasser.name }}</td>
      <th><a class="btn btn-default " href="#"><i class="bi bi-pencil bearbeitung"></i></a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
<div class="container mt-2">
    <h3>Inhaltliche Themen der PK UA:</h3>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Einsatz</th>
      <th scope="col">Thema</th>
      <th scope="col">Darstellung</th>
      <th scope="col">Beschluss</th>
      <th scope="col">Erfasser</th>

    </tr>
  </thead>
  <tbody>
    {% for d in diakon %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}